<div class = "d-flex align-items-center justify-content-center">
    <h1>Main Page</h1>

    <% if Current.user %>
        <h3>
        Logged in as: <%= Current.user.email %>
        </h3>
    <% end %>

    <%= button_to "Logout", logout_path, method: :delete %>
</div>