<div class = "d-flex align-items-center justify-content-center">
    <h1>Main Page</h1>

    <% if @user %>
        <h3>
        Logged in as: <%= @user.email %>
        </h3>
    <% end %>

    <%= button_to "Logout", logout_path, method: :delete %>
</div>