<div class = "d-flex align-items-center justify-content-center">
    <h1>Main Page</h1>

    <% if cookies[:jwt] != nil %>
        <p><%= cookies[:jwt]%></p>
    <% end %>

    <% if Current.user %>
        <p><%= Current.user.id %></p>
    <% end %>
    

    <%= button_to "Logout", logout_path, method: :delete %>

    <%= button_to 'Login with Google', '/auth/google_oauth2', method: :post, :data => {turbo: "false"} %>
</div>