<h1>About Us</h1>
<h2><%= I18n.t('page1.lorem_ipsum_text', sample_info_text: "Lorem Ipsum Parameter") %></h2>
<% if Current.user %>
        <h3>
        Logged in as: <%= Current.user.email %>
        </h3>
        <% if Current.user.google_account %>
            <h3>
            Logged into google as: <%= Current.user.google_account.email %>
            </h3>
        <% end %>
    <% end %>
    